<IfModule mod_rewrite.c>
Options -Multiviews
RewriteEngine on
RewriteBase /mvc/public
# If not find file
RewriteCond %{REQUEST_FILENAME} !-f
# if not find directory
RewriteCond %{REQUEST_FILENAME} !-d
#rewrite index.php?url=page to /page
RewriteRule ^(.+)$ /index.php?url=$1 [L,QSA]
</IfModule>